/* Universal Styles */

html {
    background-color: #08080C;
    color: white;
}


h1 {
    font-family: 'Yeseva One', Times, serif;
    font-size: 44px;
    line-height: 48px;
}

h2 {
    font-family: 'Hind', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 64px;
}

h3 {
    font-family: 'Hind', 'Arial', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
}

p {
    font-family: 'Hind', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/* Components */

button {
    height: 52px;
    border: white 4px solid;
    font-family: 'Hind', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    box-shadow: -6px 6px 0 0 #BF2852;
    background-color: #08080C;
    color: white;
}

.small-button {
    width: 200px;
}

.large-button {
    width: 328px;
}


.content {
    margin: 0 auto;
    max-width: 1032px;
    padding-top: 64px;
    padding-bottom: 72px;
}

/* Header */
/*
header {
    background: url("../images/latest-single-bgimage.png") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
}
*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1032px;
    background-color:rgba(8, 8, 12, 0.5);
}

header a {
    text-decoration: none;
    color: white;
    font-family: 'Hind', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 28px;
    margin-right: 28px;
}

header ul {
    display: flex;
    list-style-type: none;
    text-align: right;
    display: inline-block;
}

.icon {
    display: none;
}

/* Latest Single */

#latest-single {
    text-align: center; 
    margin-top: -114px;
    background: url("../images/latest-single-bgimage.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.latest-single-container {
    padding-top: 230px;
    padding-bottom: 230px
}

.single {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.album-cover {
    margin-bottom: 16px;
}

.social-media-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    position: absolute;
    top: 590px;
    right: 25%;
}



/* Upcoming Shows */

.show-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.show-container {
    max-width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Photo Background 1 */

.photo-1 {
    background: url("../images/bgphoto-1.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 840px;
}


/* Music */

.music-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 48px 16px;
    max-width: 728px;
    margin: 0 auto;
}

.album-container {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    text-align: center;
}

/* Photo Background 2 */

.photo-2 {
    background: url("../images/bgphoto-2.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 840px;
}

/* Media */

.media-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.media-container {
    max-width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
}

/* Photo Background 3 */

.photo-3 {
    background: url("../images/bgphoto-3.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 840px;
}

/* About */

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-image {
    max-width: 508px;
}

.about-description {
    max-width: 508px;
}

/* Footer */

.social-media-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
    justify-content: center;
}

/* Responsive CSS */

@media only screen and (max-width: 1680px) {
    .social-media-1 {
        right: 10%;
    }
}

@media only screen and (max-width: 1024px) {
    .social-media-1 {
        right: 5%;
    }

    .about-image-src {
        width: 328px;
        height: auto;
    }

    .about-description {
        width: 400px;
    }

    .show-content {
        width: 680px;
        justify-content: flex-start;
        align-content: flex-start;
        gap: 48px 16px;  
    }

    .media-content {
        width: 680px;
        justify-content: flex-start;
        align-content: flex-start;
        gap: 48px 16px;  
    }

    .content {
        margin: 0 auto;
        width: 740px;
    }

    .header-container {
        margin: 0 auto;
        width: 740px;
    }
}

@media only screen and (max-width: 834px) {
    .header-container h1 {
        font-size: 28px;
    }

    .social-media-1 {
        display: none;
    }

    .about-image-src {
        width: 328px;
        height: auto;
    }

    .about-description {
        width: 328px;
    }

    .show-content {
        width: auto;
        justify-content: flex-start;
        align-content: flex-start;
        gap: 48px 16px; 
    }

    .media-content {
        width: auto;
        justify-content: flex-start;
        align-content: flex-start;
        gap: 48px 16px;  
    }

    .content {
        margin: 0 auto;
        width: 90%;
    }

    .header-container {
        margin: 0 auto;
        width: 90%;
    }

    .header-container #links {
        display: none;
    }

    .icon {
        display: contents;
        width: 48px;
        height: auto; 
    }

    .header-container {
        overflow: hidden;
        background-color: transparent;
        position: relative;
    }

    .header-container a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .header-container a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .header-container a:hover {
        background-color: #ddd;
        color: black;
    }

}

@media only screen and (max-width: 540px) {
    .social-media-1 {
        display: none;
    }

    .about-container {
        flex-direction: column;
    }

    .about-image-src {
        width: 100%;
        height: auto;
    }

    .about-description {
        width: auto;
    }

    .show-content {
        width: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        row-gap: 48px; 
    }

    .music-content {
        width: auto;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .media-content {
        width: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        row-gap: 48px;   
    }

    .content {
        margin: 0 auto;
        width: 90%;
    }

    .header-container {
        margin: 0 auto;
        width: 90%;
    }

    .header-container #links {
        display: none;
    }

    .icon {
        display: contents;
        width: 48px;
        height: auto; 
    }

    .header-container {
        overflow: hidden;
        background-color: transparent;
        position: relative;
    }

    .header-container a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .header-container a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .header-container a:hover {
        background-color: #ddd;
        color: black;
    }
}

@media only screen and (max-width: 375px) {
    .social-media-1 {
        display: none;
    }

    .about-container {
        flex-direction: column;
    }

    .about-image-src {
        width: 100%;
        height: auto;
    }
    .about-description {
        width: auto;
    }

    .show-content {
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        row-gap: 48px; 
    }

    .music-content {
        width: auto;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: column;
    }

    .media-content {
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        row-gap: 48px;   
    }

    .content {
        margin: 0 auto;
        width: 87.5%;
    }

    .header-container {
        margin: 0 auto;
        width: 87.5%;
    }

    .header-container #links {
        display: none;
    }

    .icon {
        display: contents;
        width: 48px;
        height: auto; 
    }

    .header-container {
        overflow: hidden;
        background-color: transparent;
        position: relative;
    }

    .header-container a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .header-container a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .header-container a:hover {
        background-color: #ddd;
        color: black;
    }
}